<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|tropo.mdb; Persist Security Info=False"/>
  </connectionStrings>
  <appSettings>
    <add key="SiteName" value="Twilio Call Manager"/>
    <add key="AdminTitle" value="Twilio Call Manager : Administrator"/>
    <add key="UserTitle" value="Twilio Call Manager"/>
    <add key="SiteUrl" value="http://compudimeco.web713.discountasp.net/callsms/"/>
    <add key="BasePath" value="http://compudimeco.web713.discountasp.net/callsms/"/>
    <add key="AdminPageSize" value="20"/>
    <add key="AdminEmail" value="ProgramDelphi@gmail.com"/>
    <!--<add key="CollerIDForSMS" value="+14089339146"/>
    <add key="voicetoken" value="149f70216e0cce4883433e9ae24fd1877930d715b9b89366d9d33fd560ab34a6e2af4f1bf0747bda6b110a35_demo"/>
    <add key="SMStoken" value="149f776a7b540a4a8c21610926248da09b354b5d8f7b7a72d08bd801fa2c958c17a76bd6f98d2ee7241c844e_demo"/>-->

    <add key="accountSid" value="AC30d60c85ff4d807830379abc975b1ed1"/>
    <add key="authToken" value="dd5494a80a834e37b928ab13f5ce759f"/>
    <add key="fromNumber" value="+12675926678"/>
    
	
	  
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="cc1" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpRuntime executionTimeout="1200" maxRequestLength="102400" requestValidationMode="2.0"/>


  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
    </handlers>
  </system.webServer>
</configuration>